footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 50px;
  padding-top: 30px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
  list-style-type: none;
  background-color: aquamarine;
  align-items: flex-start;
  padding-left: 0%;
}
footer ul li {
  background-color: yellow;
}
footer img {
  padding-top: 20px;
}
