header {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  padding: 30px 10%;
}
ul {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  gap: 80px;
  list-style-type: none;
}
